<table style="margin: 3px 3px 5px 5px"> 
    <td>
        <table border="1" cellpadding="10" cellspacing="0" class="table">
            <thead style="background-color: #bde9ba;">
                <tr><td  style="border: 3px solid #BDBDBD; text-align: center" colspan="5" ><h4>Waiting Orders</h4></td></tr>
                <tr>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >OrderDate</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >OrderComplDate</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >OrderAddrSource</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >OrderAddrDestination</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >OrderStatus</td>
                </tr>
            </thead>
            <tbody style="background-color: darkgrey">
                <tr *ngFor="let o of waitingorders">
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{o?.orderDate}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{o?.orderComplateDate}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{o?.orderAddressSource}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{o?.orderAddressDestination}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{o?.orderStatus}}</td>
                </tr>
            </tbody>
        </table>
    </td>
    <td>
        
        <table style="margin: 3px" border="1" cellpadding="10" cellspacing="0" class="table">
            <thead style="background-color: #bde9ba;">
                <tr><td style="border: 3px solid #BDBDBD; text-align: center" colspan="5"><h4>Reserved Cars</h4></td></tr>
                <tr>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarNumber</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarModel</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarDriver</td>
                </tr>
            </thead>
            <tbody style="background-color: orangered">
                <tr *ngFor="let c of reservedcars">
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carNumber}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carModel}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carDriverFIO}}</td>
                </tr>
            </tbody>
        </table>
        
        <table style="margin: 3px 3px 3px 3px" border="1" cellpadding="10" cellspacing="0" class="table">
            <thead style="background-color: #bde9ba;">
                <tr><td style="border: 3px solid #BDBDBD; text-align: center" colspan="5"><h4>Free Cars</h4></td></tr>
                <tr>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarNumber</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarModel</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center" >CarDriver</td>
                </tr>
            </thead>
            <tbody style="background-color: cyan">
                <tr *ngFor="let c of freecars">
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carNumber}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carModel}}</td>
                    <td style="border: 3px solid #BDBDBD; text-align:center">{{c?.carDriverFIO}}</td>
                </tr>
            </tbody>
        </table>
    </td>
</table>