.table {
    margin: 3px 3px 3px 3px
}
.table thead {
    background-color: #bde9ba
}
.table thead tr {
    border: 3px solid #BDBDBD;
    text-align: center
}
.table thead tr td{
    border: 3px solid #BDBDBD; 
    text-align: center
}
.table tbody {
    background-color: cyan
}
.table tbody tr{
    border: 3px solid #BDBDBD; 
    text-align: center
}
.table tbody tr td{
    border: 3px solid #BDBDBD; text-align: center
}
.error{color: red}